@charset "UTF-8";

	.character-card {
	display : flex;
	flex-direction : column;
	max-width : 170px;
	margin : 20px 20px ;
	border : 1px solid black;
	padding : 5px;
	}
	
	.character-cards {
	display : flex;
	flex-direction : row;
	
	}
	
	.infosDiv {
	min-width : 310px;}
	
	.combatEvents {
	display : flex;
	align-items: center;
	flex-direction : column;}
	
	.combatEvents div {
	display : flex;
	align-items: center;
	flex-direction : column;}
	
	#diceButton {
	width : 200px;
	height : 30px;
	font-size : 20px;
	}
	
	.attackInfos {
	display : flex;
	min-width : 200px;
	justify-content : center;
	align-items : center;
	flex-direction : column;
	}
	
	body {
	display : flex;
	align-items: center;
	flex-direction : column;
	width : 100%;}